#__react-alert__ .App div div {
    background-color: #E5F6FD !important;
    width: 380px !important;
}

#__react-alert__ .App div div p {
    text-transform: none;
    font-size: 14px !important;
}

#__react-alert__ .App div div svg {
    background-color: #3f2c11 !important;
    border-radius: 50% !important;
}

#__react-alert__ .App div div>svg {
    background-color: white !important;
    border-radius: 50% !important;
}

.disabled {
    pointer-events:none;
    opacity:0.6;
}

.MuiDataGrid-viewport,
.MuiDataGrid-row,
.MuiDataGrid-renderingZone {
    max-height: fit-content !important ;
}

.MuiDataGrid-cell {
    max-height: fit-content !important;
    overflow: auto;
    max-height: inherit;
    white-space: initial !important;
    line-height: 16px !important;
    display: flex !important;
    align-items: center;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}